*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral';
}
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(212, 124, 56);
    /* padding: 30px; */
    color: rgb(255, 255, 255);
    justify-content: space-around;
     align-items: center;
    /* ? */
    z-index: 1;
    height: 86px;
}
header .logo {
    color: rgb(255, 255, 255);
    margin-right: 130px;
    font-weight: 1000;
    letter-spacing: 1px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin-right: 50px;
}
header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: solid;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.5s ease 0s;
}
header ul li a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
}
.logo {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.logo img {
    width: 100%;
}
main{
    margin-top: 86px;
    background-color: rgb(241, 205, 170);
}
.textSquirrel {
    color: brown;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.mainTop {
    display: flex;
    margin-top: 100px;
    gap: 150px;
    align-items: center;
    justify-content: center;
}
.SquirrelTop img {
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
}
.SquirrelTop img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgbA(0, 0, 0, 0.25);
}
.heroBox {
    height: calc(100vh-86px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* background-image: url(белка\ фото\ пример.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
}
.squirrelFacts {
    margin: 30px;
    background-color: rgb(202, 139, 96);
    padding: 30px;
    border-radius: 20px;
    line-height: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 2px white; */
    /* text-shadow: 2px 3px 0px black; */
    width: 50%;
    text-align: center;
    height: min-content;
}
.photoRealSquirrels {

}
.SquirrelBrandTitle {

}
.SquirrelBrandText {

}
.BelkaCarTitle {

}
.BelkaCarText {
    
}
.forCompanies {

}