header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(33, 35, 41);
    padding: 30px;
    color: rgb(255, 255, 255);
    justify-content: space-around;
     align-items: center;
    /* ? */
    z-index: 1;
}
header .logo {
    color: rgb(255, 255, 255);
    margin-right: 130px;
    font-weight: 1000;
    letter-spacing: 1px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin-right: 50px;
}
header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: solid;
    font-weight: 600;
    transition: all 0.5s ease 0s;
}
header ul li a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
}
.textSquirrel {
    color: brown;
    text-align: center;
}
.squirrelFacts {

}
.photoRealSquirrels {

}
.SquirrelBrandTitle {

}
.SquirrelBrandText {

}
.BelkaCarTitle {

}
.BelkaCarText {

}
.forCompanies {

}