*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    scroll-behavior: smooth;
}
#facts, #species, #characters, #other {
    scroll-margin-top: 60px;
}
body {
    background-color: #f5f0e6
}
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color:  rgb(167, 115, 80);
    /* padding: 30px; */
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 12px 16px;
    align-items: center;
    /* ? */
    z-index: 10;
    height: 60px;
    max-width: 100vw;
}
.nav_box {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(167, 115, 80);
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 10;
}
.navig {
    list-style: none;
    margin: 0;
    padding: 100px 48px;
    box-sizing: border-box;
}
.navig li {
  margin-bottom: 16px;
}
.menu {
    display: flex;
}
.menuImg {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    padding: 0;
    background-image: url(menuUpg.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.close {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 0;
}
.closeImg {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    padding: 0;
    background-image: url(CloseUpg.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.nav-sub {
    display: none;
    list-style: none;
    margin-top: 8px;
}
.nav-sub li {
    margin-bottom: 12px;
}
.nav-sub.open {
    display: block;
}
.nav-sub .nav-item {
  font-size: 1.3rem;
}
.nav-title {
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 2rem;
}
.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.5s ease 0s;
    margin-top: 20px;
}
.logo {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.logo img {
    width: 70%;
    height: auto;
}
main{
    margin-top: 60px;
}
.textSquirrel {
    color:  rgb(167, 115, 80);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 61%;
}
.SquirrelTop {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 90%;
}
.SquirrelTop img {
    width: auto;
    height: 280px;
    border-radius: 20px;
    transition: transform 0.5s;
}
/* .SquirrelTop img:active {
    transform: scale(0.98);
    box-shadow: 0 10px 20px rgbA(0, 0, 0, 0.25);
} */
.heroBox {
    min-height: 872px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 18px;
    /* background-image: url(белка\ фото\ пример.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
}
.squirrelFacts {
    background-color: rgb(167, 115, 80);
    padding: 30px;
    border-radius: 20px;
    line-height: 26px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 2px white; */
    /* text-shadow: 2px 3px 0px black; */
    width: 100%;
    text-align: left; 
}
.content {
    padding: 30px 16px;
    color:  rgb(167, 115, 80);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.sliderSpeciesText {
    font-size: 2.5rem;
    font-weight: 900;
}
.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* border: 5px solid brown; */
}
.slide p {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 0px;
}
.sliderControl {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 70px;
}
.sliderControl button {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 30%;
    background-color: rgb(167, 115, 80);
    color: #f5f0e6;
    font-size: 1.5rem;
    font-weight: 700;
}
.SquirrelBrandTitle {
 padding: 0;
}
.slider {
    position: relative;
    width: 80vw;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
}
.slides {
    display: flex;
    width: 100%;
    transition: 0.5s;
}
.result {
    display: none;
}
.textSpeciesHead {
    color:  rgb(167, 115, 80);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 35px;
    line-height: 67%;
}
.speciesFacts {
    padding: 35px 60px;
    color: rgb(167, 115, 80);
    line-height: 26px;
    font-size: 20px;
    text-align: center;
}
.proverbSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 255, 255);
    margin-top: 30px; */
}
.proverbHead {
    color:  rgb(167, 115, 80);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 35px;
    line-height: 67%;
    margin-bottom: 35px;
}
.proverb {
    width: 90%;
    color: white;
}
.proverb div {
    background-color: rgb(167, 115, 80);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}
.test {
    color:  rgb(167, 115, 80);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 35px;
    line-height: 67%;
    margin-bottom: 35px;
}
.footer {
    background-color: rgb(51, 33, 22);
    color: rgb(255, 255, 255);
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 20px; */
}
.quizSection {
    color: rgb(167, 115, 80);
    line-height: 26px;
    font-size: 20px;
    text-align: center;
}
.option {
    color: rgb(255, 255, 255);
    background-color:  rgb(167, 115, 80);
    border: none;
}
.result {
  display: none;
}
@media (max-width:400px) {
    .squirrelFacts {
        font-size: 18px;
        padding: 10px 15px;
    }
    .SquirrelTop img {
        height: 250px;
    }
    .heroBox {
        min-height: 784px;
    }
}
@media (max-width:375px) {
    .squirrelFacts {
        font-size: 16px;
        padding: 10px;
        line-height: 20px;
    }
    .SquirrelTop img {
        height: 170px;
    }
        .heroBox {
        min-height: 607px;
    }
}
@media (max-width: 360px) {
  .navig {
    margin-top: 80px;
  }
}